@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#root, html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: 0;
  padding: 0;
  margin: 0;
}

a {
  color: #0366d6;
  text-decoration: none;
}

button {
  border: 0;
}